body {
  margin: 0;
  font-family: Inter, sans-serif;
}

main {
  max-width: 2000px;
  margin: 0 auto;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  background-color: rgba(245, 245, 247, 0.8);
}

.menu {
  display: none;
}

.logo {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-icons {
  display: flex;
}

.icon-btn {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
}

@media (min-width: 1000px) {
  .menu {
    display: flex;
    gap: 24px;
  }
  .menu > a {
    font-size: 12px;
    text-decoration: none;
    color: black;
  }

  header {
    justify-content: center;
    gap: 10px;
  }
}

/* END OF HEADER */

/* TOP-AD */
.top-ad {
  padding: 16px 30px;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  max-width: 450px;
  color: rgba(29, 29, 31, 1);
  margin: 0 auto;
}

@media (min-width: 800px) {
  .top-ad {
    max-width: 100%;
  }
}
/* END OF TOP-AD */

/* PRO */
.pro {
  margin-bottom: 12px;
  box-sizing: border-box;
  height: 500px;
  background-color: black;
  background-image: url(images/pro-mobile.png);
  background-size: cover;
  color: rgba(245, 245, 247, 1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 36px;
}

.pro__title {
  margin-bottom: 4px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
.pro__subtitle {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 120%;
}
.pro__actions {
  display: flex;
  gap: 12px;
  justify-content: center;
}

@media (min-width: 500px) {
  .pro {
    justify-content: flex-start;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(images/pro-tablet.png);
    height: 650px;
    padding-top: 58px;
  }

  .pro__title {
    font-size: 42px;
    line-height: 60px;
  }
  .pro__subtitle {
    font-size: 22px;
    line-height: 32px;
  }
  .pro__actions {
    gap: 16px;
  }
}

@media (min-width: 1000px) {
  .pro {
    height: 692px;
    background-image: url(images/pro-desktop.png);
    background-size: cover;
  }
  .pro__title {
    font-size: 52px;
  }
  .pro__subtitle {
    font-size: 24px;
  }
}
/* END OF PRO */

/* IPHONE */
.iphone {
  margin-bottom: 12px;
  box-sizing: border-box;
  height: 500px;
  background-color: black;
  background-image: url(images/iphone-mobile.png);
  background-size: cover;
  color: rgba(245, 245, 247, 1);
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 36px;
}

.iphone .btn--primary {
  background-color: white;
  color: black;
}
.iphone .btn--outlined {
  border-color: white;
  color: white;
}

.iphone__title {
  margin-bottom: 4px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
.iphone__subtitle {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 120%;
}
.iphone__actions {
  display: flex;
  gap: 12px;
  justify-content: center;
}

@media (min-width: 700px) {
  .iphone {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(images/iphone-tablet.png);
    height: 650px;
    padding-top: 58px;
  }

  .iphone__title {
    font-size: 42px;
    line-height: 60px;
  }
  .iphone__subtitle {
    font-size: 22px;
    line-height: 32px;
  }
  .iphone__actions {
    gap: 16px;
  }
}

@media (min-width: 1000px) {
  .iphone {
    height: 692px;
    background-image: url(images/iphone-desktop.png);
    background-size: cover;
  }
  .iphone__title {
    font-size: 52px;
  }
  .iphone__subtitle {
    font-size: 24px;
  }
}
/* END OF IPHONE */

/* BUTTONS */
.btn {
  padding: 8px 16px;
  border-radius: 18px;
  border: 1px solid transparent;
  font-size: 14px;
}

@media (min-width: 500px) {
  .btn {
    padding: 12px 20px;
    border-radius: 22px;
    font-size: 16px;
  }
}

.btn--primary {
  background-color: rgba(0, 113, 227, 1);
  color: white;
}

.btn--outlined {
  background-color: transparent;
  color: rgba(41, 151, 255, 1);
  border-color: rgba(41, 151, 255, 1);
}
/* END OF BUTTONS */

/* PRODUCTS */
.product {
  height: 500px;
  background-color: bisque;
  text-align: center;
  box-sizing: border-box;
  padding-top: 36px;
  position: relative;
  margin-bottom: 12px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.product:first-child {
  margin-bottom: 34px;
}

.product__image {
  margin-bottom: 8px;
}

.product__title {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 16px;
}

.product__subtitle {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 16px;
  color: rgba(29, 29, 31, 1);
}

.product__decoration {
  font-size: 14px;
  line-height: 18px;
  position: absolute;
  bottom: 36px;
  left: 0;
  right: 0;
}

.product--ipad {
  background-image: url(images/ipad-air-bg.png);
}

.product--airpods {
  background-image: url(images/airpods-bg.png);
  padding-bottom: 54px;
}

.product--airpods .product__subtitle {
  color: white;
}

.product--airpods .product__title {
  color: white;
}

.product--end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.product--airpods .product__subtitle {
  width: 241px;
}

.product--watch {
  background-image: url(images/watch-bg.png);
}

.product--air {
  background-image: url(images/air-bg.png);
}

.product--business {
  background-image: url(images/business-bg.png);
}

.product--carrier {
  padding-bottom: 47px;
  background-image: url(images/carrier-bg.png);
}

.product--trade {
  background-image: url(images/trade-bg.png);
}

.product--card {
  display: none;
}

@media (min-width: 700px) {
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .product {
    flex-basis: calc(50% - 12px - 6px);
    margin-bottom: 0;
    margin-bottom: 12px;
    height: 490px;
  }

  .product:first-child {
    margin-bottom: 12px;
    flex-basis: 100%;
    height: 650px;
  }
}

@media (min-width: 1000px) {
  .product:first-child {
    flex-basis: calc(50% - 12px - 6px);
    height: 580px;
  }

  .product {
    height: 580px;
  }

  .product--carrier {
    display: none;
  }

  .product--business {
    display: none;
  }

  .product--card {
    display: block;
    background-image: url(images/card-bg-desktop.png);
  }
}

/* END OF PRODUCTS */

/* MOVIES */

.movies {
  display: flex;
  gap: 16px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.movie {
  background-color: aquamarine;
  flex-basis: 80vw;
  flex-shrink: 0;
  aspect-ratio: 274 / 495;
  margin-bottom: 20px;
  scroll-snap-align: center;
}

@media (min-width: 500px) {
  .movie {
    aspect-ratio: 689 / 368;
    scroll-snap-align: start;
  }
}

@media (min-width: 1000px) {
  .movie {
    flex-basis: 70vw;
    max-width: 1250px;
    aspect-ratio: 1250 / 668;
    scroll-snap-align: center;
  }
}
